.button-icon {
  padding: 10px;
  border-radius: 4px;
  background: var(--white);
  border: 2px solid var(--purple);
  text-decoration: none; /* los elementos ancla tienen por defecto underline */
  display: inline-block;
}

.button-icon img {
  vertical-align: middle; /* le quito el espacio que se genera cuando una imagen va dentro de un elemento */
}
